    <div class="container">
        <nav class="navbar">
            <a href="/" class="navbar-brand">
                <img src="images/logo/create-a-flat-vector-illustrative-style-wordmark-l-9Aq-mddJST-ABiOcEJ9uVg-keANIoBwTrqMysy-cL0GwA.jpeg" alt="Your Logo">
            </a>
            <div class="navbar-menu">
                <ul class="navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/trainers">Trainers</a></li>
                    <li><a href="/prices">Prices</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="navbar-auth">
                <% if (user) { %>
                    <div class="navbar-buttons">
                        <a href="/cart" class="btn btn-cart">
                            <i class="fas fa-shopping-cart"></i> Cart
                        </a>
                        <a href="/logout" class="btn btn-primary">Sign Out</a>
                    </div>
                <% } else { %>
                    <a href="/login-register" class="btn btn-primary">Sign In/Sign Up</a>
                <% } %>
            </div>
        </nav>
    </div>
